# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
coverage
temp

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
