name: 'ci'
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '*.md'
      - 'examples/**'
      - 'build/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '*.md'
      - 'examples/**'
      - 'build/**'

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
      - name: Setup node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - name: Run unit tests
        run: pnpm test:coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
      - name: Setup node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - name: Run lint
        run: pnpm lint
