name: 'release'

on:
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch:
    inputs:
      increment:
        type: choice
        description: Release version increment
        options:
          - auto
          - patch
          - minor
          - major
        default: patch
      dry:
        type: boolean
        description: dry-run
        default: false

permissions:
  contents: write

jobs:
  release:
    if: github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup node 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - name: npm config
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: Run release
        run: pnpm run release $ARG_INCREMENT --ci --verbose $ARG_DRY_RUN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARG_INCREMENT: ${{ github.event.inputs.increment == 'auto' && '' || github.event.inputs.increment }}
          ARG_DRY_RUN: ${{ github.event.inputs.dry == 'true' && '--dry-run' || '' }}
